timer-start-page {
  #fullDiv {
    display: block;
    text-align: center;
    align-items: center;
    vertical-align: middle;
  }
  #titleText {
    margin-top: 40%;
    font-size: 3em;
  }
  #ionNumber {
    display: block;
    text-align: center;
    align-items: center;
    vertical-align: middle;

  }
  #input {
    margin-left: 50%;
  }
  #startButton {
    vertical-align: middle;
    margin-top: 10%;
  }
}
